mixin characteristic(name, short, extra_class="")
  div(class=`characteristic ${extra_class}`)
    h3 #{name}
    label(class="cur") Cur
    input(type="number" min="0" value="6" name=`attr_characteristics_current_${short}` class="cur")
    label(class="max") Max
    input(type="number" min="0" value="6" name=`attr_characteristics_max_${short}` class="max")
    label(class="dm") DM
    span(class="dm")
      input(type="hidden" name=`attr_characteristics_dm_${short}`)
      input(type="number" disabled="true" name=`attr_characteristics_dm_${short}_display` value=`@{characteristics_dm_${short}}`)
      +roll(name, short, `characteristics_dm_${short}`)

+characteristic("Strength", "str", "characteristic--first")
+characteristic("Dexterity", "dex")
+characteristic("Endurance", "end")
+characteristic("Intellect", "int")
+characteristic("Education", "edu")

div(class="toggle toggle_culture--third_imperium toggle_culture--aslan_hierate")
  +characteristic("Social", "soc")

div(class="toggle toggle_culture--aslan_hierate")
  +characteristic("Aslan Territory", "ter")

div(class="toggle toggle_culture--vargr_extents")
  +characteristic("Vargr Charisma", "cha")

+characteristic("Luck", "lck")
